/*######################################### PARTE 12 - OverFlow ######################################################*/
div.overflow {
width: 350px;
height: 200px;
background-color: #808080;
overflow: auto;
}

/*##################################### PARTE 13 - Background-Color ##################################################*/
div.backgroundColor {
border: 1px solid black;
padding: 10px; 
}
div{background-color: #CCC;}
h3{background-color: #EEE}
p{background-color: #999}
